---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="home {{ page.title | slugify }}">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group" role="main">

      {% include hero_block.html %}

      {% comment %}
      {% include current_exhibition.html %}
      {% endcomment %}

      <div class="container home_painting_list" >

        <h2 class="bottom_padded uppercase center">Selected Paintings</h2>

        <div class="painting_group_list">

            {% for image in site.data.paintings-home  %}

                  <div class="painting_link_box">

                    <a class="painting_link" href="/{{ image.file_name | replace:'adria-sartore-','' | replace:'.jpg','' }}">

                      {% comment %}
                      assign the page image and split at the extension dot
                      {% endcomment %}

                      {% assign f = image.file_name | split: '.' %}

                      <img class="painting_link_image" loading="lazy" src="/assets/p/paintings/{{ f[0] }}{{ include.name }}-640.{{ f[1] }}"
                           srcset="/assets/p/paintings/{{ f[0] }}{{ include.name }}-640.{{ f[1] }} 640w,
                                   /assets/p/paintings/{{ f[0] }}{{ include.name }}-880.{{ f[1] }} 880w,
                                   /assets/p/paintings/{{ f[0] }}{{ include.name }}-1024.{{ f[1] }} 1024w,
                                   /assets/p/paintings/{{ f[0] }}{{ include.name }}-1920.{{ f[1] }} 1920w"
                           sizes="100vw" alt="{{ page.title }} - {{ page.subtitle }}" />

                      <div class="painting_title"><strong>{{ image.title }}</strong>{% if image.dimensions %}, {{ image.dimensions }} cm{% endif %}</div>

                    </a>

                  </div>

              {% endfor %}

        </div>

          {% comment %}
          at the moment no have
          {% include series_grid.html %}
          {% endcomment %}

      </div>


    </div>



    {% include tag_cloud.html %}

    {% include footer.html %}

    {% include script_ext_link.html %}

    {% include script_append_to_copy_action.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
